@(screening: Screening,order: Option[Order])

@main("Reserve Screening") {

    @screening.movie.title <br>
    @screening.room <br>
    @screening.date <br>
---------------------------SCREEN---------------------------<br>
    @screening.seats.map{ row =>
        @row.seats.map {seat =>
            <a href="@routes.HomeController.reserveSeat(screening.id,row.id,seat.id)"  >
                <div class="seat @seat.getStatus.toClass(order)">
                    <div class="number">@row.char</div>
                    <div class="number">@seat</div>
                </div>
            </a>
        }<br>
    }

    @order.map { o =>
        @o.seats.headOption.map { _ =>
            <a href="@routes.HomeController.finalizeOrder(screening.id)">Finalize your order</a><br>
        }
        @o.seats.map {seat =>
            <div class="seat">
                <div class="number">@seat._2.thisSeatRow.map{row => @row.char}</div>
                <div class="number">@seat._2</div>
            </div><br>
        }
    }
}
